:root {
  /* Color */
  --text-color: #937ac5;
  --background: #564b67;
  --background-secondary: #2d1c2e;
  --cta: #f7db53;
  --cta-text: #fff;
  --cta-shadow: #c5754a;
  --border-primary: #9076bf;
  --border-secondary: #2d1c2e;
  --modal-background: #d0c0aa;

  /* Font Sizes */
  --base-font-size: 2rem;

  body {
    text-transform: uppercase;
    background-color: var(--background);
    color: var(--text-color);
    font-size: var(--base-font-size);
  }
}

/* Font definitions */

@font-face {
    font-family: "pixelvision-4x8";
    src: url("fonts/pixel4x8.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: "pixelvision-4x5";
    src: url("fonts/pixel4x5.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: "pixelvision-8x8";
    src: url("fonts/pixel8x8WideBold.woff2") format("woff2");
    font-weight: bold;
    font-style: bold;
    }

/* Tag Overrides */

button {
    font-family: "pixelvision-4x8";
    color: var(--cta-text);
    font-size: 2rem;
    text-shadow:1px 1px var(--background-secondary);
    overflow:hidden;
    text-align: center;
    padding:0;
    margin:0;
    background:transparent;
    border:16px solid transparent;
    border-image-source:url('img/btn-cta96px.png');
    border-image-slice: 32 fill;
}

button:active {
    opacity: 0.5;
}

/* Components */

.button32x {
    border:32px solid transparent;
    border-image-source:url('img/btn-cta192px.png');
    border-image-slice: 64 fill;
}

.cta {
    font-family: "pixelvision-4x8";
    color: var(--cta-text);
    font-size: 2rem;
    width: auto;
    height: auto;
    border:16px solid transparent; /* size of the border image in general */
    border-image-source:url('img/pv8-chrome-2x.png');
    border-image-slice: 32 fill; /* size of the actual corner image you want. matches your source file */
    margin: 0;
    padding:0;
    text-align: center;
}

.cta32x {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight: bold;
    border:32px solid transparent; /* size of the border image in general */
    border-image-source:url('img/pv8-chrome-2x.svg');
    border-image-slice: 32 fill; /* size of the actual corner image you want. matches your source file */  
}

.hello {
    padding:12px;
    border: 1px solid var(--border-secondary);
    font-family: "pixelvision-4x8";  
    margin: 2rem 1rem;
}

.modal {
    background: var(--background-secondary);
    border:4px solid var(--background-secondary);
    color:#fff;
    font-family: "pixelvision-4x8";
    text-align: center;
}

.modal-inner {
    background: var(--modal-background);
    color: var(--border-secondary);
    border:2px solid #fff;
    border-right-color: #c4754a;
    border-bottom-color: #c4754a;
    margin-top:0.3rem;
    padding: 0rem 1rem 1rem 1rem;
}