:root {
  /* Color */
  --text-color: #937ac5;
  --background: #564b67;
  --cta: #f7db53;

  /* Font Sizes */
  --base-font-size: 2rem;

  body {
    text-transform: uppercase;
    background-color: var(--background);
    color: var(--text-color);
    font-size: var(--base-font-size);
  }
}

/* Font definitions */

@font-face {
    font-family: "pixelvision-4x8";
    src: url("fonts/pixel4x8.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: "pixelvision-4x5";
    src: url("fonts/pixel4x5.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: "pixelvision-8x8";
    src: url("fonts/pixel8x8WideBold.woff2") format("woff2");
    font-weight: bold;
    font-style: bold;
    }

/* Components */
    
.hello {
    padding:12px;
    border: 1px solid #000;
    font-family: "pixelvision-4x8";
    
}    